﻿<template id="select2-single-ajax-template">
    <select style="width:100%"> </select>
</template>
<script>
    Vue.component('select2-single-ajax', {
        template: '#select2-single-ajax-template',
        props: {
            url_option: {
                type: String,
                default: () => null
            },
            placeholder: {
                type: String,
                default: () => 'All'
            },
            allowclear: {
                type: Boolean,
                default: () => true
            },
            init_data: {
                type: Object,
                default: () => { }
            },
            minimumInputLength: {
                type: Number,
                default: () => 2
            },
            name: {
                type: String,
                default: () => null
            }
        },
        mounted: function () {
            var self = this;

            if (!_isNull(self.name)) {
                $(self.$el).attr('name', self.name);
            }

            $(self.$el).select2({
                allowClear: true,
                placeholder: _isNull(self.placeholder) ? 'All' : self.placeholder,
                minimumInputLength: self.minimumInputLength,
                delay: 300,
                ajax: {
                    type: "POST",
                    dataType: 'JSON',
                    async: true,
                    url: self.url_option,
                    data: function (params) {
                        return {
                            Search: params.term,
                            Page: params.page || 1
                        }
                    },
                    processResults: function (response) {
                        return { results: response };
                    },
                }
            }).on('change', function () {
                self.$emit('input', $(this).val());
            });

            if (!_isNull(self.init_data) && !_isNull(self.init_data.id) && _isNull(self.init_data.text)) {
                $(self.$el).append(new Option(self.init_data.id, self.init_data.text, false, false)).trigger('change');
            }
        },
        destroyed: function () {
            $(this.$el).off().select2('destroy')
        }
    });
</script>
