﻿<div class="footer fixed">
    <div class="float-right">
        <span id="_date"></span>
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; @DateTime.Now.Year
    </div>
</div>
