﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded" src="~/images/TCR_Logo.png" style="width:160px;">
                </div>

                @*<img src="~/images/TCR_Logo.png" />*@
                @*<div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="block m-t-xs font-bold">Username</span>
                            <span class="text-muted text-xs block">Title <b class="caret"></b></span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </div>*@
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Home")">
                <a href="@Url.Action("Example", "Home")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Example</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Home", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Demo01")"><a href="@Url.Action("Demo01", "Home")">Demo01</a></li>
                    <li class="@Html.IsSelected(action: "Demo02")"><a href="@Url.Action("Demo02", "Home")">Demo02</a></li>
                    <li class="@Html.IsSelected(action: "Demo03")"><a href="@Url.Action("Demo03", "Home")">Demo03</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>