﻿@using Utf8Json
@model TCRB.HELPER.Models.Home.Demo01ViewModel
@{

    ViewData["Title"] = "Demo01";
}

<style>
/*        .fade-enter-active, .fade-leave-active {
        background-color: #afe4ac;
        transition: transform 1s;
    }

    .fade-enter, .fade-leave-to{
        transition: transform 1s;
        transform: translateY(20px);
    }*/

/*    .fade {
        transition: all 1s;
        display: inline-block;
        margin-right: 10px;
    }

    .fade-enter-active {
        background-color: #afe4ac;
        transition: transform 1s;
    }*/

/*    .fade-leave-active {
        transition: transform 1s;
        transform: translateY(10px);
    }*/
/*
    .fade-enter-active  {
        background-color: #afe4ac;
        transition: transform 1s;
        transform: translateY(20px);
    }

    .fade-leave-to, .fade-leave-active {
        transition: transform 1s;
        transform: translateX(20px);
    }*/

    /*
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to .fade-leave-active below version 2.1.8 {
        opacity: 0;
    }*/


/*    .fade-enter-active {
        transition: transform 2s;
    }
*/
/*    .fade-enter, */
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 1s;
        color:forestgreen;
    }

    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }
/*    .fade-leave-active {
        background-color: #e4fee3;
        transition: 1s;
        transform: translateX(20px);
    }*/
</style>

<div id="demo02">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            @*<button class="btn btn-w-m btn-primary btn-sm" type="button" @@click="initial()"> Initial.</button>*@
                            <button class="btn btn-w-m btn-success btn-sm" type="button" @@click="pushData()"> Push.</button>
                        </div>
                    </div>
                    <div class="row">
                        @*<table id="configDetailTable" class="table table-bordered table-hover">
                            <thead class="bg-primary">
                                <tr>
                                    <th class="text-center">Order</th>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Sport</th>
                                </tr>
                            </thead>
                            <tbody>*@
                        @*<transition-group  name="list" tag="tr">*@
                        @*<tr v-for="item in temp" v-bind:key="item.id">
                                <td>{{ item.order }}</td>
                                <td>{{ item.id }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.sport }}</td>
                            </tr>*@
                        @*</transition-group>*@
                        @*</tbody>
                            </table>*@



                        <table table id="configDetailTable" class="table table-bordered table-hover">
                            <thead class="bg-primary">
                                <tr>
                                    <th style="width:100px;" class="text-center">Order</th>
                                    <th style="width:100px;" class="text-center">ID</th>
                                    <th style="width:200px;" class="text-center">Name</th>
                                    <th style="width:200px" class="text-center">Sport</th>
                                </tr>
                            </thead>
                            <tbody name="fade" is="transition-group">
                                <tr v-for="(item,index) in temp" :key="item.id">
                                    <td>{{ item.order }}</td>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.sport }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        //=====================================
        //=============== Vue. ================
        //=====================================
        var configDetailTable;
        var demo02 = new Vue({
            el: '#demo02',
            data: function () {
                return {
                    isDraggable: true,
                    isDraggable2: '',
                    list: [
                        { order: 1, id: 1, name: "Abby", sport: "basket", test: "id_1", isEdit: false },
                        { order: 2, id: 2, name: "Brooke", sport: "foot", test: "", isEdit: false },
                        { order: 3, id: 3, name: "Courtenay", sport: "volley", test: "", isEdit: false },
                        { order: 4, id: 4, name: "David", sport: "rugby", test: "", isEdit: false },
                        { order: 5, id: 5, name: "aaaa", sport: "basket", test: "id_1", isEdit: false },
                        { order: 6, id: 6, name: "Aaa", sport: "basket", test: "id_3", isEdit: false },
                        { order: 7, id: 7, name: "ccc", sport: "111", test: "id_1", isEdit: false },
                        { order: 8, id: 8, name: "ddd", sport: "3333", test: "id_3", isEdit: false },
                        { order: 9, id: 9, name: "eee", sport: "444444", test: "id_4", isEdit: false },
                        { order: 10, id: 10, name: "fff", sport: "jjjjjj", test: "id_1", isEdit: false },
                        { order: 11, id: 11, name: "ggg", sport: "jkjkjkj", test: "id_1", isEdit: false },
                        { order: 12, id: 12, name: "hhh", sport: "lllllll", test: "id_4", isEdit: false },
                        { order: 13, id: 13, name: "iii", sport: "aaafffbe", test: "id_1", isEdit: false },
                    ],
                    temp: [{ order: 99, id:'id', name:'name', sport: 'sport', test: 'test', isEdit:false}],
                    items: [1, 2, 3, 4, 5, 6, 7, 8, 9]
                };
            },
            methods: {
                shuffle: function () {
                    this.items = _.shuffle(this.items)
                },
                randomIndex: function () {
                    return Math.floor(Math.random() * this.list.length)
                },
                //initial() {
                //    this.temp.push(_.cloneDeep(this.list[this.randomIndex()]));// = { order: 99, id: 'id', name: 'name', sport: 'sport', test: 'test', isEdit: false };
                //},
                pushData() {
                    //this.temp = [_.cloneDeep(this.list[this.randomIndex()])];
                    //this.temp.splice(0, 1);
                    this.temp.push(_.cloneDeep(this.list[this.randomIndex()]));
                    //this.temp.splice(0, 1);
                }
            },
            beforeMount() { },
            mounted() {
                let self = this;

            },
            filters: {},
            computed: {},
            watch: {
            },
        });
    </script>
} 