﻿@using Utf8Json
@model TCRB.HELPER.Models.Home.Demo01ViewModel
@{

    ViewData["Title"] = "Demo01";
}

<div id="demo02">

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Configurations Detail.</h2>
                            <div class="input-group pb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-addon">
                                        Sorting Data <u class="text-success">Drag And Drop</u>&nbsp;&nbsp;
                                        <input type="checkbox" v-model="isDraggable">
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="Search" autocomplete="off" @@input="onSearch($event)">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <table id="configDetailTable" class="table table-bordered table-hover">
                                <thead class="bg-primary">
                                    <tr>
                                        <th class="text-center">Order</th>
                                        <th class="text-center">ID</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Sport</th>
                                        <th class="text-center">Select2</th>
                                        <th class="text-center" style="width:50px;">#</th>
                                    </tr>
                                </thead>
                                <tbody class="" :disabled="!isDraggable" is="draggable" :list="list" tag="tbody">
                                    <tr v-for="(item, index) in list" :key="item.id">
                                        <td>{{ item.order }}</td>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.sport }}</td>
                                        <td>
                                            <select2-single :placeholder="'select2-single'"
                                                            :allowclear="true"
                                                            :name="''"
                                                            :options="option_master_single"
                                                            :defaultselected="false"
                                                            v-model="item.test"
                                                            v-bind:disabled="!item.isEdit">
                                            </select2-single>
                                        </td>
                                        <td class="text-center">
                                            <a v-if="item.isEdit === false" class="text-danger" @@click="item.isEdit = !item.isEdit"><i class="fa fa-edit"></i></a>
                                            <a v-if="item.isEdit === true" class="text-success" @@click="item.isEdit = !item.isEdit"><i class="fa fa-floppy-o"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{

    @await Html.PartialAsync("~/Views/_VueComponent/_Select2SingleComponent.cshtml")

    <script src="~/lib/vue-draggable/Sortable.min.js"></script>
    <script src="~/lib/vue-draggable/vuedraggable.umd.min.js"></script>
    <script type="text/javascript">
        //=====================================
        //=============== Vue. ================
        //=====================================
        var configDetailTable;
        var demo02 = new Vue({
            el: '#demo02',
            data: function () {
                return {
                    isDraggable: true,
                    isDraggable2: '',
                    list: [
                        { order: 1, id: 1, name: "Abby", sport: "basket", test: "id_1", isEdit: false },
                        { order: 2, id: 2, name: "Brooke", sport: "foot", test: "", isEdit: false },
                        { order: 3, id: 3, name: "Courtenay", sport: "volley", test: "", isEdit: false },
                        { order: 4, id: 4, name: "David", sport: "rugby", test: "", isEdit: false },
                        { order: 5, id: 5, name: "aaaa", sport: "basket", test: "id_1", isEdit: false },
                        { order: 6, id: 6, name: "Aaa", sport: "basket", test: "id_3", isEdit: false },
                        { order: 7, id: 7, name: "ccc", sport: "111", test: "id_1", isEdit: false },
                        { order: 8, id: 8, name: "ddd", sport: "3333", test: "id_3", isEdit: false },
                        { order: 9, id: 9, name: "eee", sport: "444444", test: "id_4", isEdit: false },
                        { order: 10, id: 10, name: "fff", sport: "jjjjjj", test: "id_1", isEdit: false },
                        { order: 11, id: 11, name: "ggg", sport: "jkjkjkj", test: "id_1", isEdit: false },
                        { order: 12, id: 12, name: "hhh", sport: "lllllll", test: "id_4", isEdit: false },
                        { order: 13, id: 13, name: "iii", sport: "aaafffbe", test: "id_1", isEdit: false },
                    ],
                    option_master_single:  @Html.Raw(JsonSerializer.ToJsonString(Model.Master_Select2Single)),
                };
            },
            methods: {
                onSearch(el) {
                    configDetailTable
                        //.columns(1)
                        //.columns(2)
                        .search(el.target.value).draw();
                }
            },
            beforeMount() { },
            mounted() {
                let self = this;

                configDetailTable = $('#configDetailTable').DataTable({
                    lengthChange: false,
                    processing: false,
                    searching: true,
                    pageLength: 1000,
                    serverSide: false,
                    responsive: true,
                    paging: false,
                    ordering: false,
                    info: false,
                    sDom: 't'
                });

            },
            filters: {},
            computed: { },
            watch: {
                list() {
                    if (this.isDraggable === false) return false;

                    let order = 1;
                    this.list = _.forEach(this.list, function (item) {
                        item.order = order;
                        order++;
                    });
                }
            },
        });
    </script>
} 